@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

:root {
  background-color: white;
  font-family: "Nunito Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.job-textarea {
  font-family: inherit;
  line-height: 1.6;
  padding-left: 1.5rem;
  background-image: radial-gradient(currentColor 1px, transparent 1.5px);
  background-position: 0.5rem 1.1rem;
  background-repeat: repeat-y;
  background-size: 1rem 1.6em;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #01777F;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #026a70;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: #01777F;
  border-radius: 9999px;
  border: 10px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #01666e;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #01777F #f5f5f5;
}
